{% extends "main.html" %}
{% block main %}
    <h1>{{theory.name}} - Тест "Любитель"</h1>
    {% for qa in qas %}
        <div class="col-md-12">
            <div class="{% if qa.is_true %}thumbnail-tr{% else %}thumbnail-er{% endif %}">
                {{qa.is_tue}}
                <div class="caption">
                    <p>{{qa.question.text}}</p>
                    <ul>
                        {% for a in qa.question.get_answers %}
                        <li>
                            {{a.text}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ratings">
                    <p class="pull-right {% if qa.is_true %}res-tr{% else %}res-er{% endif %}">
                        {% if qa.is_true %}ВЕРНО{% else %}НЕ ВЕРНО{% endif %}
                    </p>
                    <p>
                        {% for a in qa.answer %}
                            {{a.text}},
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    <hr>
    <div class="result">
        <h3>Ваш результат: {{count}} верных ответов из {{tru_count}}</h3>
        <p></p>
        {% if ok %}
            <h2>Поздравляем вы успешно прошли тест уровня Любитель</h2>
            <a href="{% url "start_profi_test" pk=theory.pk %}" class="btn btn-danger">Пройти тест "Профессионал"</a>
        {% else %}
            <h2>К сожалению, вы не прошли тест уровня Любитель</h2>
        <a href="{{theory.get_url}}" class="btn btn-info">Вернуться к теории</a>
        <a href="{% url "start_senior_test" pk=theory.pk %}" class="btn btn-warning">Попробовать снова</a>
        {% endif %}
    </div>
{% endblock %}